<div id = deduction_row>

    <div id=deduction_cell><%=paycheck_deduction.name%></div>
    
    <div id=deduction_cell><%= humanized_money_with_symbol paycheck_deduction.amount %></div>
    
    <div id=deduction_cell><%= ((paycheck_deduction.is_tax_deductible?)? "Yes" : "" ) %></div>

    <div id=deduction_cell><%= link_to 'delete', [paycheck_deduction.paycheck, paycheck_deduction],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>


</div>
