<p>
	<strong>Paycheck Deduction:</strong>
	<%= @paycheck_deduction.name %>
</p>

<p>
	<strong>Amount:</strong>
        <%= humanized_money_with_symbol @paycheck_deduction.amount %>
</p>

<%= link_to 'Back', paycheck_deductions_path %>
