<p>
	<strong>Expense:</strong>
	<%= @fixed_monthly_expense.expense %>
</p>

<p>
	<strong>Amount:</strong>
        <%= humanized_money_with_symbol @fixed_monthly_expense.amount %>
</p>

<%= link_to 'Back', fixed_monthly_expenses_path %>
